body {
  background-color: indianred;
}
.buttonModal {
  padding: 40px;
  margin-right: 30px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.modal {
  background-color: white;
  text-align: center;
  padding: 40px;
  position: absolute;
  margin-top: 40px;
}

div {
  padding: 0;
}
